#battleship {
    -fx-background-color: black;
	-fx-background-image: url("../img/board.jpg");
    -fx-background-repeat: stretch;   
    -fx-background-position: center center;
}

#label {
    -fx-text-fill: rgb(83, 175, 19);
}

#wrapper {
	-fx-background-color: rgb(83, 175, 19);
	-fx-border-color: rgb(83, 175, 19);
	-fx-padding: 10px;
}

#text, #button {
    -fx-background-color: rgb(152, 207, 113);
    -fx-prompt-text-fill: gray;
    -fx-font-size: 1em;
    -fx-border-color: rgb(83, 175, 19);
    -fx-background-insets: 0, 0, 0;
    -fx-background-radius: 0, 0, 0;
}
